<p id="notice"><%= notice %></p>

<h1>Officers</h1>


<%= form_tag(officers_path, method: :get) do %>
  Query <%= text_field_tag :query, params[:query] %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= officer.name %></td>
        <td><%= officer.email %></td>
        <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Officer', new_officer_path %>
